<head>
    <meta charset="utf-8">
    <title>Rocnikac</title>
    <meta property="og:title" content="SciCurve - Understand your Field of Research." />
</head>

<body>
<a href ="/"> spat </a> <br>

Tu môžete pridať stránku, ktorá sa bude od teraz trackovať.
Môžete si zvoliť, ktoré elementy sa na nej majú trackovať pomocou javascriptového selektora (napríklad ".item" trackuje všetky 
objekty ktoré majú class=item). Selektory sa dajú písať aj pomerne komplikované.

<form action="/api/add" method="POST">
    <p> Pridať stránku na jednoduché trackovanie </p>
    <input type="text" name="site"> Url stranky</input>
    <br>
    <input type="text" name="element"> Selektor (default je body)</input>
    <br>
    <input type="submit" value="Pridať" />
</form>

<form action="/api/picker" method="POST">
    <p> Ak nepoznate selektroy, pouzite picker, ale moze to chvilu trvat </p>
    <p> staci kliknut na element ktory chcete trackovat (dostane cerveny okraj)
      pre vseobecnejsie stlacte +
      pre krok spat stalcte -
      pre potvrdenie stlacte enter
    </p>
    <input type="text" name="site"> Url stranky</input>
    <input type="submit" value="Pridať" />
</form>


Trackované stránky (ak ste adli a nic sa nezmenilo, nico sa pokazilo):
<table border="1">
<tr> 
    <td>
    Stránka
    </td>
    <td>
    Extrahovátko
    </td>
    <td>
    Elemnty
    </td>
    
</tr>
{% for d in data %}
<tr> 
    <td>
    {{d.url}}
    </td>
    <td>
    {{d.program}}
    </td>
    <td>
    {{d.element}}
    </td>
    
</tr>
{% endfor %}

</table>

</body>