.n1:visited {color: green; background-image: url(visited.php?web=1);} 
.n2:visited {color: green; background-image: url(visited.php?web=2);} 
.n3:visited {color: green; background-image: url(visited.php?web=3);} 
.n4:visited {color: green; background-image: url(visited.php?web=4);} 
.n5:visited {color: green; background-image: url(visited.php?web=5);} 
.n6:visited {color: green; background-image: url(visited.php?web=6);} 
.n7:visited {color: green; background-image: url(visited.php?web=7);} 
.n8:visited {color: green; background-image: url(visited.php?web=8);} 
.n9:visited {color: green; background-image: url(visited.php?web=9);} 
.n10:visited {color: green; background-image: url(visited.php?web=10);} 
.n11:visited {color: green; background-image: url(visited.php?web=11);} 
.n12:visited {color: green; background-image: url(visited.php?web=12);} 
.n13:visited {color: green; background-image: url(visited.php?web=13);} 
.n14:visited {color: green; background-image: url(visited.php?web=14);} 
.n15:visited {color: green; background-image: url(visited.php?web=15);} 
.n16:visited {color: green; background-image: url(visited.php?web=16);} 
.n17:visited {color: green; background-image: url(visited.php?web=17);} 
.n18:visited {color: green; background-image: url(visited.php?web=18);} 
